type cnd, domain, domain_deprecated, mlstrustedsubject;
type cnd_exec, exec_type, file_type;

file_type_auto_trans(cnd, socket_device, cnd_socket);

init_daemon_domain(cnd)
