type cnd, domain;
type cnd_exec, exec_type, vendor_file_type, file_type;

file_type_auto_trans(cnd, socket_device, cnd_socket);

allow cnd self:capability { chown fsetid setgid setuid };

allow cnd self:udp_socket create_socket_perms;
allowxperm cnd self:udp_socket ioctl SIOCGIFMTU;

allow cnd wpa_socket:dir w_dir_perms;
allow cnd wpa_socket:sock_file create_file_perms;
allow cnd wifi_data_file:dir search;

allow cnd sysfs_soc:dir search;
allow cnd sysfs_soc:file r_file_perms;

allow cnd proc_meminfo:file r_file_perms;

r_dir_file(cnd, sysfs_msm_subsys)
set_prop(cnd, cnd_prop)

allow cnd self:socket create_socket_perms;
allowxperm cnd self:socket ioctl msm_sock_ipc_ioctls;

init_daemon_domain(cnd)

# TODO(b/36613996): Remove this once system_app no longer communicates over sockets with cnd
typeattribute cnd socket_between_core_and_vendor_violators;
