# TODO(b/36587860): Remove once Fingerprint HAL no longer uses Binder
binder_use(hal_fingerprint)

allow hal_fingerprint sysfs_fingerprint:file rw_file_perms;
allow hal_fingerprint sysfs_fingerprint:dir r_dir_perms;
allow hal_fingerprint sysfs_msm_subsys:dir search;
allow hal_fingerprint tee_device:file rw_file_perms;
allow hal_fingerprint tee_device:chr_file rw_file_perms;
allow hal_fingerprint uhid_device:chr_file w_file_perms;
