# TODO(b/36569385): Remove once Camera HAL no longer uses Binder
typeattribute hal_camera_default binder_in_vendor_violators;

allow hal_camera_default input_device:dir r_dir_perms;

allow hal_camera_default sysfs_laser:file w_file_perms;
