type hal_rcsservice, domain;
type hal_rcsservice_exec, exec_type, vendor_file_type, file_type;

# Started by init
init_daemon_domain(hal_rcsservice)
net_domain(hal_rcsservice)

# To register imsrcsd to hwBinder
hwbinder_use(hal_rcsservice)
add_hwservice(hal_rcsservice, imsuce_service)
add_hwservice(hal_rcsservice, vnd_uce_hwservice)
get_prop(hal_rcsservice, hwservicemanager_prop)

# allow hal to read sysfs file
r_dir_file(hal_rcsservice, sysfs_msm_subsys)

unix_socket_connect(hal_rcsservice, ims, ims)

# imsrcsd to bind with UceShimService.apk
binder_call(hal_rcsservice, dataservice_app)

# imsrcsd needs read/write access to devpts
allow hal_rcsservice devpts:chr_file rw_file_perms;
