type pd_mapper, domain;

type pd_mapper_exec, exec_type, file_type;
init_daemon_domain(pd_mapper);

allow pd_mapper self:socket rw_socket_perms_no_ioctl;

userdebug_or_eng(`
permissive pd_mapper;
')
