get_prop(radio, ims_prop)

allow radio qmuxd_socket:dir search;
allow radio qmuxd_socket:sock_file write;

add_service(radio, radio_service)
add_service(radio, imscm_service)

r_dir_file(radio, sysfs_msm_subsys)
