r_dir_file(system_app, sysfs_msm_subsys)

unix_socket_connect(system_app, cnd, cnd)

get_prop(system_app, cnd_prop)
allow system_app cne_service:service_manager add;
