# Needed by Settings app's TelephonyMonitorPreferenceController, available only on a subset of
# userdebug and eng devices
userdebug_or_eng(`set_prop(system_app, tel_mon_prop)')